<header>Capacitated Vehicle Routing Problem with Time Windows</header>

<section>
  <div class="side-container">
    <data-settings></data-settings>
  </div>
  <div class="main-container" *ngIf="viewModel">
    <agm-map class="map" [latitude]="viewModel.mapLatitude ? viewModel.mapLatitude : 0" [longitude]="viewModel.mapLongitude ? viewModel.mapLongitude : 0" [showDefaultInfoWindow]="false" [styles]="viewModel.mapStyle">
      <agm-overlay *ngFor="let booking of vehicleRoutingModel?.bookings" [latitude]="booking.location.latitude" [longitude]="booking.location.longitude">
        <div class="booking-detail">
          <h3>{{booking.title}} - <strong style="color: #ff0000;">{{booking.order}}</strong></h3>
          <p>
            {{booking.serviceFromTime | date :'hh:mm a'}} ~ {{booking.serviceToTime | date: "hh:mm a"}}
          </p>
          <p>
            Service Time: {{booking.serviceMins}} mins
          </p>
          <span>
            FuelType(s): <span *ngFor="let fueltype of booking.fuelTypes; last as isLast">{{fueltype}}<span *ngIf="!isLast">, </span></span>
          </span>
        </div>
      </agm-overlay>
      <ul>
        <li *ngFor="let booking of vehicleRoutingModel?.bookings">
          <agm-polyline *ngFor="let point of booking.points; index as pointIndex" strokeColor="rgba(5, 5, 5, 1)">
            <agm-polyline-point [latitude]="point.latitude" [longitude]="point.longitude"></agm-polyline-point>
            <agm-polyline-point [latitude]="booking.location.latitude" [longitude]="booking.location.longitude"></agm-polyline-point>
          </agm-polyline>
        </li>
      </ul>
      <ul *ngIf="vehicleRoutingModel != null && vehicleRoutingModel!.depot?.vehicles != null">
        <li *ngFor="let vehicle of vehicleRoutingModel?.depot!.vehicles">
          <agm-polyline *ngIf="vehicle.ordinalBookings != null && vehicle.ordinalBookings.length > 0" [strokeColor]="vehicle.color">
            <agm-polyline-point [latitude]="vehicleRoutingModel!.depot!.location!.latitude" [longitude]="vehicleRoutingModel!.depot!.location!.longitude"></agm-polyline-point>
            <agm-polyline-point *ngFor="let obooking of vehicle.ordinalBookings" [latitude]="obooking.location.latitude" [longitude]="obooking.location.longitude"></agm-polyline-point>
          </agm-polyline>
        </li>
      </ul>
      <!-- <agm-circle *ngIf="vehicleRoutingModel && vehicleRoutingModel.center" [strokeWeight]="3" strokeColor="#0000ff" fillColor="#0000ff" [fillOpacity]="0.25" [latitude]="vehicleRoutingModel.center.latitude" [longitude]="vehicleRoutingModel.center.longitude" [radius]="vehicleRoutingModel.radius">

      </agm-circle> -->
    </agm-map>
  </div>
</section>
<router-outlet></router-outlet>
